.c-display-info {
  margin-top: 100px;
  height: calc(100%-100px);
}

.CTA:hover {
  cursor: pointer;
  text-decoration: underline;
  color: #4180bb;
}

.c-homepage {
    background-color: var(--background);
}

.div.box-container.w-50.p-4.mt-5.border.container{
border: none;
}