#c-petImg-PetPage {
  display: flex;
  justify-content: center;
  max-height: 600px;
  max-width: 600px;
  width: 100%;
}

.c-AddPet {
  margin-top: 100px;
}

#c-pet-petPage {
  height: 100%;
  width: 100%;
}

.textarea {
  max-height: 400px;
}

#checkBox-UpdatePet:active {
  border: none;
}